.chat-side
  .side-header
    .side-box
      .side-box-user-name Nissy
      .side-box-menu
        = link_to"#" do
          = icon('fas', 'edit')
        = link_to"#" do
          = icon('fas', 'cog')
  .side-group
    .gruop-name techcamp
  .side-message
    .group-message まだメッセージがありません
  .side-group
    .gruop-name techcamp
  .side-message
    .group-message まだメッセージがありません